@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/albertus-medium');

body{
    background-color: #FFFFFF;
    font-family: 'Ruda', sans-serif;
}
a{
    text-decoration: none;
}
a:visited{
    color: #FFFFFF;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    top: 0;
    
    
    .logo-container{
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 15px;
    }
    .logo{
        width: 6rem;
        height: 4rem;
        
    }
    .logo2{
        width: 9rem;
        height: 3rem;
    }
    .title{
        font-family: 'Albertus Medium', sans-serif; 
        font-size: 40px;                                       
    }
}
.container-A{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    width: 60rem;
    font-weight: 700;
    font-size: 20px; 
    
    .button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 7rem;
        height: 2rem;
        background-color:orange;
        border-radius: 7px;
        font-weight: 900;
        color: #FFFFFF;
        font-size: 15px;
        
    }
}
.sidebar-left{
    display: flex;
    align-items: flex-start;
    height: 50rem;
    width: 5rem;
    background-color: aqua;
}
.container{
    display: flex;
    width: 100%;
    height: 38rem;
    background: #FEF200;
}
.box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:50% ;
    align-items: center;
    .title{
        font-size: 80px;
        width: 40%;
        font-weight: 900;
        color: blue;
        margin-bottom: 48px;
        margin-left: 200px;
        align-items: left;
    }
    .sub-title{
        font-size: 33px;
        font-weight: 900;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .description{
        width: 80%;
        text-align: center;
    }
}
.box-image{
    width:50%;
}
img{
    
    height: 37rem;
}
.container-course{
    display: flex;
    margin: auto;
    width: 60%;
    height: 30rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-content{
    width: 100%;
    height: 50rem;
    background-color: blue;
    padding-top: 40px;
    .title{
        text-align: center;
        color: #FFFFFF;
        font-size: 70px;
        font-weight: 600;
        margin-bottom: 40px;
    }
    .box-course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12rem;
        height: 12rem;
        border-radius: 5px;
        background-color: yellow;
    }
    .icon{
        font-size: 70px;
        color:blue;
    }
}
.localization{
    height: 40rem;
    background: #FEF200;
    padding-top: 40px;
    .title{
        color: blue;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
}
.box-localization{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:45%;
    height: 28rem;

    .photo{
        width: 15rem;
        height: 10rem;
        border-radius: 100px;
    }
}
.description{
    font-size: 25px;
    text-align: center;
    margin-bottom: 5px; 
}
.title-desc{
    font-weight: 700;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
}
.sub-title{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
    color:blue;
}
.footer{
    display: flex;
    justify-content: space-around;
    padding-left: 9%;
    padding-top: 5%;
    width: 100;
    height: 40rem;
    background-color:#040B17;


  
}  .logo{
       width: 20%;
       height: 8rem;
}

    .sub-container{
        height: 100%;
        width: 12rem;
        
        .title{
            font-size: 25px;
            text-align: left;
        }
        .sub-title{
            text-align: left;
            font-size: 20px;
            color: #FFFFFF;
        }
    }

    .max-container{
        height: 100%;
        width: 16rem;
        .title{
            font-size: 25px;
            text-align: left;
        }
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70%;
            height: 2.5rem;
            border: 2px solid white;
            border-radius: 4px;
            
        }
        .icon{
            color:#FFFFFF;
            font-size: 30px;
        }
        .title-button{
            color: #FFFFFF;
        }
        .topic{
            margin-top: 15px;
            margin-bottom: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
        }
    }
    .app{
        width: 150px;
        height: 48px;
        margin-bottom: 15px;
    }
    .abism{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 12rem;
        align-items: center;
        background-color:#FFFFFF;
    } .logus{
        width: 12rem;
        height: 8rem;
        margin-bottom: 10px;
        }
    .copy{
        font-family: Arial, Helvetica, sans-serif;
    }
    .icon-social{
        width:3rem;
        height:3rem;
        color: #FFFFFF;
    }

 @media (max-width: 1366px) {
  .box-image{
    width: 60%;
  }
  img{
    height: 30rem;
}
.box-text{
    width: 40%;
    .title{
        margin-right: 200px;
    }
}
.container-course{
    width: 80%;
}

.localization{
    height: 40rem;
    background: #FEF200;
    padding-top: 40px;
    .title{
        color: blue;
    }
    .container{
        display: flex;
        justify-content: space-around;
    }
}
.box-localization{
    width:30%;

    .photo{
        width: 15rem;
        height: 10rem;
        border-radius: 100px;
    }
}
.description{
    font-size: 20px;
    text-align: center;
    margin-bottom: 5px; 
}
.title-desc{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}
.sub-title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    color:blue;
}
}